* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'GeorgeTown';
    src: url("/font/GeorgeTown Display/TTF/GeorgeTown-Light.ttf") format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'iCiel Kermel';
    src: url("/font/GeorgeTown Display/iCiel Kermel/iCiel Kermel.otf") format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'GeorgeTown';
    src: url("/font/GeorgeTown Display/TTF/GeorgeTown-Medium.ttf") format('truetype');
    font-weight: 700;
}
#tta{
    cursor:pointer;
}



body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #AAD2B5, #41BBD6, #EFCDC5);
    font-family: Be Vietnam Pro;
    color:#232323;
    
}

.header 
{
    background-color: #ffffffda;
    position: fixed;
    /* top: 1px; */
    width: 100vw;
    height: 71px;
    /* border-radius: 60px; */
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
    border:2px solid transparent;
    box-shadow: 0 0 90px rgb(255, 255, 255);
    backdrop-filter: blur(7px);
}

/* Logo */
.header .logo {
    top:3px;
    width: 200px;
    transform:translateY(3px);
    height: 38px;
}

/* Menu */
.content ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
.content ul li a {
    text-decoration: none;
    color:#232323;
    font-weight: 500;
    transition:  0.2s all ease;
}
.content ul li
{
    /* box-shadow: 0 0 10px white; */
    /* border:1px solid rgba(255, 255, 255, 0.425); */
    padding:13px;
    /* border-radius: 24px; */
    background-color:rgba(255, 255, 255, 0);
    /* backdrop-filter: blur(4px); */
}
.content ul li a:hover {
    background: linear-gradient(to right, #AAD2B5, #41BBD6);
    border-radius: 30px;
    padding:20px;
    box-shadow: 0 0 20px gray;
}

.ticketcuatoi{
    display:flex;
    top:10px;
}.ticketcuatoi img {
    width: 50px;
    height: 50px;
    transform:translateY(14px);
}
.ticketcuatoi p
{
        font-size:1.2rem;
}
.banner1
{
    position:relative;
}

.poster3{
    position:relative;
}
.banner{
    /* border:1px solid black; */
    /* max-height:800px; */
    display:flex;
    position:relative;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content:center;  
    gap:23px;
    top:180px;
    width:100vw;
}
.poster1{
    position:relative;
}
.poster2{
    position:relative;
}
.poster3 img{
    width:65vw;
    height: auto;
    /* flex-shrink: 0;     */
}
.poster2 img{
    width:65vw;
    height: auto;
    margin:auto;
}
.poster1 img{
    z-index: 1;
    width:65vw;
    height: auto;
    /* margin-left:-30vw; */

}
.poster2 span{
    display:block;
    white-space:pre;
    border:2.4px solid white;
    padding:12px;
    border-radius:20px;
    position: absolute;
    /* top:20%;          */
    left: 5%;
    color: white;
    font-size: 2rem;
    z-index: 10;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.luotinterest
{
    /* transition:all 1s ease; */
    position:absolute;
    display:flex;
    align-items: center;        
    justify-content: flex-start; 
    top:56%;
    left:5%;
    border-radius: 15px;
    width:300px;
    gap: 90px;
    height:43px;
    background-color: white;
}
.luotinterest img{
    /* display: block; */
    margin-left:30px;
    width:36px;
    /* border: 1px solid black; */

}
.luotinterest p
{
    position:relative;
    left:-92px;  
     /* border:3px solid rgb(211, 36, 36); */

    /* display: block; */
font-size:15px;
/* border:none; */
color:rgb(123, 117, 117)}


.poster1 span
{
    display:block;
    white-space:pre;
    border:2.4px solid white;
    padding:12px;
    border-radius:20px;
    position: absolute;
    /* top:20%;          */
    left: 5%;
    color: white;
    font-size: 2rem;
    z-index: 10;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.poster3 span{
    display:block;
    white-space:pre;
    border:2.4px solid white;
    padding:12px;
    border-radius:20px;
    position: absolute;
    /* top:20%;          */
    left: 5%;
    color: white;
    font-size: 2rem;
    z-index: 10;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.ytb
{
    display:flex;
    justify-content:space-around;
    position:relative;
    top:310px;
    /* border:1px solid black; */
    flex-direction: row;


}
/* .vid1{
}
.vid4{

} */
.vid1 iframe{
    box-shadow: 10px 10px 30px rgb(62, 57, 57);
    border-radius: 20px;
}
.vid2 iframe{
    box-shadow: 10px 10px 30px rgb(62, 57, 57);
}
.finding
{
    margin-top:370px;
    display:flex;
    justify-content: center;
    width:60vw;
    justify-self: center;
}
.finding1 input{
    width:60vw;
    height:100px;
    background-color: white;
    box-shadow: 0 0 90px white;
    border-radius: 42px;
    border:none;
    

}
.finding1{
    position:relative;

    /* border:1px solid black; */
}
.finding1 input::placeholder{
    font-size:24px;
    color:rgb(122, 122, 112);
}
.finding1 img
{
    position:absolute;
    top:33px;
    left:95px;
}
.event
{
    margin-top:90px;
    display:flex;
    justify-self:center;
    align-items:center;
    justify-content: space-around;
    position:relative;
    background-color: white;
    width:60vw;
    height:350px;
    border-radius:40px;
    box-shadow:12px 8px 10px rgba(51, 46, 46, 0.541);
    


}
.event p
{
    font-family: 'Montserrat', sans-serif;

}

.event1 {
position:relative;
text-align: center;
margin-top: 50px; 

}
.event2 {
    position:relative;
    text-align: center;
    margin-top: 50px; 


    }.event3 {
        position:relative;
        text-align: center;
        margin-top: 50px; 


        }.event4 {
            position:relative;
            text-align: center;
            margin-top: 50px; 


            }.event5 {
                position:relative;
                text-align: center;
                margin-top: 50px; 


                }
.mechandise
{
    display:flex;
    position:relative;
    flex-direction: column;
    width:60vw;
    height:auto;
    background-color: white;
    justify-self: center;
    top:50px;
     border-radius:50px;
     padding:50px;
     gap:40px;
}
.ct{
    /* position:absolute; */
margin:left}
.pk{
    /* margin-top:80px; */
    gap: 32px;
    display:flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(87, 83, 83, 0.422);
    padding:40px;
    border-radius:30px;
    border:none;
    height:auto;
    width:55vw;
    margin:auto;

}
.event{
    cursor: pointer;
    /* overflow: hidden; */
}
.ct p{
    
    font-family: Be Vietnam Pro;
    font-size:28px;
    font-weight: 440;

}
.pk p{
    font-size:1.2rem;
}
.pk1
{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 10px transparent);}


.pk2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pk3
{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.pk4
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pk img{
    width:90px;
}
.pk button{
    background:linear-gradient(to right,#41BBD6,#AAD2B5,#EFCDC5);
    width:98px;
    height:34px;
    border-radius:30px;
    border:none;
    color:white;
    font-weight: 900;
    font-size:17px;
}
.santa
{
    display:flex;
    position:relative;
    justify-self: center;
    width:60vw;
    height:400px;
    gap:40px;
    background-color: white;
    top:130px;
    border-radius:40px;
    overflow:hidden;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 60px white;
    /* border:1px solid black; */
}
.st1{
display:flex;
margin-left:60px;
border-radius: 20px;
border:1px solid rgba(128, 128, 128, 0.309);
box-shadow: 0 0 10px rgba(160, 154, 154, 0.729);
/* background-color: rgba(239, 236, 236, 0.343); */
padding:19px;
}
.st2{
    /* border:1px solid black; */
    padding:30px;
    
}.st3{
    
}
.st1 p{
    font-family: 'Montserrat', sans-serif;
    background:linear-gradient(to right,#41BBD6,#AAD2B5,#EFCDC5);
    color:transparent;
    -webkit-background-clip: text;
    font-weight:800;
    white-space:pre;
    font-size:2.2rem;

}
.st2 p{
    font-family: 'Montserrat', sans-serif;
    background:linear-gradient(to right,#41BBD6,#AAD2B5,#EFCDC5);
    color:transparent;
    -webkit-background-clip: text;
    font-weight:800;
    white-space:pre;
    font-size:2.2rem;

}
.st1 button
{
    background:linear-gradient(to right,#41BBD6,#AAD2B5,#EFCDC5);
    border-radius:30px;
    width:200px;
    height:53px;
    border:none;
    padding:10px;
    display: block;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-style:italic;
    font-size:1.32rem;
    margin:auto;


}
.sdr {
    position: relative;
    top: 150px;
    border: 1px solid transparent;
    text-align: center;
    margin: auto;
    font-family: 'GeorgeTown';
}

.fill {
    font-size: 5.4rem;
    color: #006877;
    font-weight: bolder;
    position: relative;
    z-index: 6;
}

.sdrlayout {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    
    color: transparent;
    -webkit-text-stroke: 20px rgb(255, 255, 255);

    font-size: 5.4rem;
    font-weight: 1200;
    z-index: 5;
}
.sdrlayout2
{
    position:absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%); 
    color:transparent;
    -webkit-text-stroke:35px orange;
    font-size: 5.4rem;
    font-weight: bolder;
    z-index: 2;

}
.sdrlayout3
{
    position:absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%); 
    color:transparent;
    -webkit-text-stroke:51px #FFCC00;
    font-size: 5.4rem;
    font-weight: bolder;
    z-index: 1;

}
.sdrimg
{
    position:relative;
}
.tintuc
{
    position:relative;
    display:flex;
    top:180px;
    justify-self: center;
    flex-direction: column;
    width:60vw;
    padding:50px;
    border:1px solid rgba(255, 255, 255, 0.197);
    border-radius: 70px;
    background-color: rgba(255, 255, 255, 0.137);
    /* box-shadow: 0 0 40px white; */
    backdrop-filter: blur(40px);
    box-shadow: inset 0 0 90px rgba(255, 255, 255, 0.733);



}
.wrapmain{
    margin:auto;
    margin-top:-99px;
    /* border:1px solid black; */
    }
.wrap{
    position:relative;
    /* border:1px solid black; */
    
}
.chuthat
{
    position:relative;
    font-family: 'iCiel Kermel', sans-serif;font-size:140px;color:white;
    z-index: 5;

}
.ly1{
    position:absolute;
    margin-top:0;
    left:0;
    font-family: 'iCiel Kermel', sans-serif;font-size:140px;
z-index: 2;
color: transparent;
-webkit-text-stroke: 17px black;
}
.tintucct
{
    margin-top:-50px;
    display:grid;
    justify-content: space-around;
    grid-template-columns: 13vw 13vw 13vw;
    grid-auto-rows: 18vw;
    gap:70px;
    font-family: Arial, sans-serif;
    border:1px solid transparent;

    /* background-color: white; */
}
.tintucct p
{
    /* border:1px solid black; */
}
.ct1
{
    /* position: relative; */
    border-radius: 40px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: flex-start;
    border:none;
    background-color: white;
   

}
.ct1 p{border:none;}
.footer
{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    /* height:15vw; */
    top:270px;
    background:linear-gradient(to right,#97d6aa,#68b9cb,#84d3b0);
    padding:20px;
}
.ct1:hover,#xemall:hover,#logout:hover,.luotinterest:hover,.aaaa:hover,.buy:hover{
    cursor:pointer;
}
.logout1{
    z-index: 999999;
}
#faded{
    display:none;
    position:fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color:#000000;
    z-index: 100;
    pointer-events: none;
}
#fadedtimkiem{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(246, 250, 250, 0.325);
    pointer-events: none;
    display:none;
    backdrop-filter: blur(28px);
    z-index: 300;

}
#timkiem:focus::placeholder
{
    color:transparent;
    
}
#timkiem:focus
{
    border:5px solid rgba(128, 128, 128, 0.469);
    outline:none;
}
.logotimkiem
{
    display:none;
    position: absolute;
    width:405px;
    height:70px;
    top:-250px;
    left:50%;
    transform: translateX(-50%);
    background: url(/images/lg.png) no-repeat;
    background-size:90%;
}
@keyframes hieuungtimkiem
{
    0%{
        transform: translateY(-500px);
    }
    100%
    {
        transform: translateY(0);

    }
}
.timkiemm{
    display:none;
    top:0;
    left:0;
    position:fixed;
    width:100vw;
    height:100vh;
    pointer-events: none;
    z-index:1000;
}
/* .timkiemm p
{
    animation:hieuungtimkiem 8s ease;
} */
@media(min-width:2500px){
    .pk 
    {
        width:30vw;
    }

}
.finding1 p
{
    /* position:absolute;
    top:-190px;
    left:50%;
    transform: translateX(-50%);
    font-size:76px;
    display:none; */
    /* animation: hieuungtimkiem 2s ; */
}
.popup{
    display:none;
    position: fixed;
    width: 100vw;
    height:100vh;
    background-color: #9f9b9b65;
    backdrop-filter: blur(6px);
    z-index: 11111;
}
.popup img{
    width:1000px;
    height:700px;
    margin:auto;
    margin-top:23vh;
    margin-left:50%;
    /* border:1px solid black; */
    transform: translateX(-50%);
    position:fixed;
}
/* .button popup{
    width:100px;
    height:40px;
    border:1px solid rgb(177, 22, 22);
    margin-left:1200px;
    margin-top:-1000px;
    z-index: 111111;
    position:relative;

} */
.popupdiv{
    /* display:flex;
    flex-direction: column;
    flex-wrap: nowrap; */
    border:1px solid rgb(7, 2, 2);
    width:1700px;
    height:1100px;
    justify-self: center;

}
.popupdiv button{
   
}
.popupdiv img
{
    
}
#cancel:hover{
    cursor:pointer;
}
.setting0{
    display:none;
    width:100vw;
    height:100vh;
    background-color:rgba(242, 238, 238, 0.38);
    position:fixed;
    z-index: 9999;
}

.setting1{
    width:500px;
    height:200px;
    background-color: white;
    position:absolute;
    top:70px;
    right:10px;
    

}
@keyframes abv {
    from {
        height: 0;
    }
    to {
        height: 400px;
    }
}


.container {
    width: 90%;
    max-width: 200px;
    margin-top: 40px;
    position:absolute;
    height: 0; /* QUAN TRỌNG */
    top:31px;
    right:10px;
    /* transition: 3s all ease; */
    animation: abv 0.5s ease-in-out forwards ;
    background:transparent;       /* THÊM */
    overflow: hidden;       
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card {
    background: #dad3d3;
    border-radius: 16px;
    padding: 10px 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px 20px;
    cursor: pointer;
}

.item:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}

.icon {
    font-size: 22px;
}

.text {
    font-size: 18px;
    font-weight: 500;
}

.logout .text {
    font-weight: 600;
}
.logout1{
    cursor: pointer;
}
/* .popup1 {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%) scale(0.85);
  
    width: 530px;
    height:270px;
    padding: 14px;
    background:#6ccee4;
    color: white;
    border-radius: 14px;
  
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
    box-shadow: 0 15px 30px rgba(0,0,0,.35);
    z-index: 9999;
  } */
  
  /* hover đúng phần tử */
  /* .event1:hover .popup1,
  .event2:hover .popup1,
  .event3:hover .popup1,
  .event4:hover .popup1,
  .event5:hover .popup1 {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  } */
  
  /* mũi tên */
  .popup1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top-color: #111827;
  }
  .event1, .event2, .event3, .event4, .event5 {
    position: relative;
    overflow: hidden;
}
.popup1 {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 20px;
}

/* .event1:hover .popup1,
.event2:hover .popup1,
.event3:hover .popup1,
.event4:hover .popup1,
.event5:hover .popup1 {
    opacity: 1;
} */

/* .event img {
    transition: transform 0.4s ease;
}

.event1:hover img,
.event2:hover img,
.event3:hover img,
.event4:hover img,
.event5:hover img {
    transform: scale(1.15);
} */




/* @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}

.event1:hover,
.event2:hover,
.event3:hover,
.event4:hover,
.event5:hover {
    animation: shake 0.4s;
} */

/* 
.popup1 {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 20px;
}

.event1:hover .popup1,
.event2:hover .popup1,
.event3:hover .popup1,
.event4:hover .popup1,
.event5:hover .popup1 {
    opacity: 1;
}

.event img {
    transition: transform 0.4s ease;
}

.event1:hover img,
.event2:hover img,
.event3:hover img,
.event4:hover img,
.event5:hover img {
    transform: scale(1.15);
} */
.event1, .event2, .event3, .event4, .event5 {
    position: relative;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    transition: transform 0.35s cubic-bezier(.34,1.56,.64,1),
                box-shadow 0.35s ease;
}

.event1::before,
.event2::before,
.event3::before,
.event4::before,
.event5::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #a1e8c5, #ace4fd);
    border-radius: 14px;
    z-index: -1;
    transform: translate(0, 0) rotate(0);
    transition: transform 0.35s cubic-bezier(.34,1.56,.64,1);
}

.event1:hover,
.event2:hover,
.event3:hover,
.event4:hover,
.event5:hover {
    transform: translateY(-18px) rotate(-3deg) scale(1.08);
    box-shadow: 0 35px 70px rgba(0,0,0,0.45);
}

.event1:hover::before,
.event2:hover::before,
.event3:hover::before,
.event4:hover::before,
.event5:hover::before {
    transform: translate(18px, 18px) rotate(4deg);
}











.poster1::before,
.poster2::before{
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 60%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.45),
        transparent
    );
    transform: skewX(-25deg);
    filter: blur(2px);
    z-index: 9;
    pointer-events: none;
}

.poster1::before,
.poster2:hover::before,
.poster3:hover::before {
    animation: shinePoster 2s ease infinite;
}

@keyframes shinePoster {
    from { left: -50%; }
    to   { left: 290%; }
}

.poster1 span,
.poster2 span,
.poster3 span,
.poster1 .luotinterest,
.poster2 .luotinterest,
.poster3 .luotinterest {
    z-index: 10;
    position: absolute;
}
.ct1:hover{
   transform: scale(1.1);
}
.ct1{
    transition: 1s all ease;
}



.ct1::before{
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 200px;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.748),
        transparent
    );
    transform: skewX(-35deg);
    filter: blur(9px);
    z-index: 9;
    pointer-events: none;
    opacity: 1;

  }
.item:hover{
    background-color: rgb(241, 110, 34);
    /* background: linear-gradient(to right, #A8D2B6, #4EBCD5, #AAC6CC); */

    color:white;
    border-radius: 30px;
    box-shadow: 0 0 10px gray;
    
}


  @keyframes kinhdo{
    from { left: -50%; }
    to   { left: 290%; }
  }
  .ct1:hover::before{
    animation: kinhdo 2s ease;
  }