*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(116, 205, 225));    box-sizing: border-box;
    height: 100%;
    width:100%;
    max-width: none !important;

    

}


@font-face {
    font-family: 'George Town';
    src: url('/font/GeorgeTown Display/TTF/GeorgeTown-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.process {
    width: 600px;
    height: 20px;
    margin: auto;          /* center */
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;      /* quan trọng để thanh chạy nằm trong */
}

.nen {
    height: 100%;
    width: 0;             
    border-radius: inherit;
    background: linear-gradient(to right, rgb(159, 203, 174), rgb(100, 191, 211));
    animation: abc 3s ease forwards;
}


@keyframes abc
{
    from { width: 0; }
    to { width: 600px; } 
}
/* @keyframes abd
{
    0%{
        opacity:0.9;
    }
    100%{
        opacity:0.4;
    }
} */
@keyframes abe
{
    0%{
        transform:translateY(800px);
    }
    100%{
        transform:translateY(-900px);
        opacity:0.1;

    }
}

/* .aaa{
    background-color:rgba(251, 249, 249, 0.473);
    top:220px;
    margin-left:100px;
    width:600px;
    height:500px;
    z-index: 1;
} */