:root {
    --primary-color: #5d6dfc;
    --text-main: #2c3e50;
    --text-secondary: #5a6b7d;
    --bg-white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccc; 
}

.modal-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Thẻ Modal chính */
.modal-card {
    background: var(--bg-white);
    width: 450px;
    padding: 40px 30px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #f1f3f5;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: #666;
}

.icon-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
}

.icon-circle {
    width: 100%;
    height: 100%;
    /* background: #eef1ff; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #daddff; */
}

.ticket-icon {
    font-size: 40px;
    color: var(--primary-color);
}

.sparkle {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 14px;
}

.modal-title {
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 5px;
}

.brand-text {
    color:#41BBD6;
}

.title-underline {
    width: 40px;
    height: 3px;
    background: var(--primary-color);
    margin: 0 auto 20px;
    border-radius: 2px;
    opacity: 0.3;
}

.modal-description {
    color: var(--text-secondary);
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 30px;
}

.primary-btn {
    background: linear-gradient(to right,#A8D2B6,#4EBCD5,#AAC6CC);
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 10px 20px rgba(93, 109, 252, 0.3);
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 25px rgba(93, 109, 252, 0.4);
}

.skip-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #888;
    font-size: 14px;
}

.skip-link:hover {
    text-decoration: underline;
}